body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

textarea,
pre,
code {
    font-family: 'Anonymous Pro', monospace;
}

code {
    background-color: #ddd;
    padding: 0.1em 0.3em;
}

code-sample + code-sample {
    padding-top: 0.2em;
}

li + li {
    padding-top: 0.2em;
}

/* Hide all custom elements until they get defined */
*:not(:defined) {
    display: none;
}
